openapi: 3.2.0
info:
  version: 1.0.0
  title: Encharge Webhooks API
  description: The Encharge.io API
  license:
    name: MIT
  contact:
    url: https://help.encharge.io
    name: unknown
servers:
- url: https://api.encharge.io/v1
tags:
- name: Webhooks
  x-displayName: Webhooks
  description: Subscribe to events happening in Encharge.
paths:
  /event-subscriptions:
    post:
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                properties:
                  subscription:
                    properties:
                      id:
                        type: number
                        format: double
                    required:
                    - id
                    type: object
                required:
                - subscription
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                eventType:
                  type: string
                  description: Event to trigger on
                url:
                  type: string
                  description: URL to post the webhook to.
                eventName:
                  type:
                  - string
                  - 'null'
                  default: null
                handlerData: {}
                service:
                  type: string
                operation:
                  type: string
              required:
              - eventType
              - url
              - eventType
              type: object
      operationId: CreateWebhook
      description: Subscribe to events happening in Encharge.
      tags:
      - Webhooks
      security:
      - oauth2:
        - account:write
      parameters: []
      summary: Create webhook
      x-summary-source: derived
  /event-subscriptions/{id}:
    delete:
      operationId: DeleteWebhook
      responses:
        '204':
          description: Deleted
      description: Delete an existing event subscription.
      tags:
      - Webhooks
      security:
      - oauth2:
        - account:write
      parameters:
      - description: Id of the event subscription.
        in: path
        name: id
        required: true
        schema:
          format: double
          type: number
      summary: Delete webhook
      x-summary-source: derived
components:
  securitySchemes:
    apiKeyHeader:
      description: "You can use API key authentication if you are using the API for your Encharge account. If you are building an app for others to use, please use the OAuth2 authentication below. Find your API key from https://app.encharge.io/account/info . \n\n While all operations in the API specify oauth2 security, instead you can use an API key in the header or query string."
      type: apiKey
      in: header
      name: X-Encharge-Token
    apiKeyQuery:
      description: "You can use API key authentication if you are using the API for your Encharge account. \n\nIf you are building an app for others to use, please use the OAuth2 authentication below. Find your API key from https://app.encharge.io/account/info \n\n While all operations in the API specify oauth2 security, instead you can use an API key in the header or query string."
      type: apiKey
      in: query
      name: token
    oauth2:
      type: oauth2
      description: "The Encharge API uses OAuth 2 with the authorization code flow. \n\nGet for your OAuth credentials (Client ID and Client Secret) by filling out [this form](https://research.typeform.com/to/I680YtLA)."
      flows:
        authorizationCode:
          authorizationUrl: https://api.encharge.io/v1/oauth/authorize
          tokenUrl: https://api.encharge.io/v1/oauth/token
          refreshUrl: https://api.encharge.io/v1/oauth/token
          scopes: {}
