openapi: 3.2.0
info:
  version: 1.0.0
  title: Encharge Account API
  description: The Encharge.io API
  license:
    name: MIT
  contact:
    url: https://help.encharge.io
    name: unknown
servers:
- url: https://api.encharge.io/v1
tags:
- name: Account
paths:
  /accounts/info:
    get:
      operationId: GetInfo
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  peopleCount:
                    type: number
                    format: double
                  status:
                    type: string
                    enum:
                    - active
                    - canceled
                    - trial
                    - trialExpired
                  timezone:
                    type: string
                  services: {}
                  activeServices:
                    items:
                      type: string
                    type: array
                  site:
                    type: string
                  name:
                    type: string
                  accountId:
                    type: number
                    format: double
                required:
                - peopleCount
                - status
                - timezone
                - services
                - activeServices
                - site
                - name
                - accountId
                type: object
      description: Get information about your account.
      tags:
      - Account
      security:
      - oauth2: []
      parameters: []
  /accounts/form/{formId}:
    get:
      operationId: GetAccountInfoByFormId
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  accountInfo:
                    properties:
                      site:
                        type: string
                      logo:
                        type: string
                      name:
                        type: string
                      id:
                        type: number
                        format: double
                    required:
                    - site
                    - logo
                    - name
                    - id
                    type: object
                required:
                - accountInfo
                type: object
      description: Get non-sensitive account information by form Id without authentication
      tags:
      - Account
      security: []
      parameters:
      - in: path
        name: formId
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apiKeyHeader:
      description: "You can use API key authentication if you are using the API for your Encharge account. If you are building an app for others to use, please use the OAuth2 authentication below. Find your API key from https://app.encharge.io/account/info . \n\n While all operations in the API specify oauth2 security, instead you can use an API key in the header or query string."
      type: apiKey
      in: header
      name: X-Encharge-Token
    apiKeyQuery:
      description: "You can use API key authentication if you are using the API for your Encharge account. \n\nIf you are building an app for others to use, please use the OAuth2 authentication below. Find your API key from https://app.encharge.io/account/info \n\n While all operations in the API specify oauth2 security, instead you can use an API key in the header or query string."
      type: apiKey
      in: query
      name: token
    oauth2:
      type: oauth2
      description: "The Encharge API uses OAuth 2 with the authorization code flow. \n\nGet for your OAuth credentials (Client ID and Client Secret) by filling out [this form](https://research.typeform.com/to/I680YtLA)."
      flows:
        authorizationCode:
          authorizationUrl: https://api.encharge.io/v1/oauth/authorize
          tokenUrl: https://api.encharge.io/v1/oauth/token
          refreshUrl: https://api.encharge.io/v1/oauth/token
          scopes: {}
