openapi: 3.1.0
info:
  title: Encharge REST Account Fields API
  description: 'Encharge is a behavior-based marketing automation platform built for SaaS companies. The REST API exposes the core resources used by integrations: people, fields, segments, tags, event subscriptions (webhooks), and account information. Authentication uses the X-Encharge-Token header. Also documented here: the Ingest API for backend event submission and the Transactional Email API for templated and custom HTML/text email.

    '
  version: 1.0.0
  contact:
    name: Encharge Developer Documentation
    url: https://docs.encharge.io/api-documentation
servers:
- url: https://api.encharge.io/v1
  description: REST API and Transactional Email API
- url: https://ingest.encharge.io/v1
  description: Ingest API for backend event submission
security:
- tokenHeader: []
- bearer: []
tags:
- name: Fields
paths:
  /fields:
    get:
      summary: List person fields
      operationId: listFields
      tags:
      - Fields
      responses:
        '200':
          description: Fields
    post:
      summary: Create field
      operationId: createField
      tags:
      - Fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
      responses:
        '201':
          description: Field created
  /fields/{fieldName}:
    patch:
      summary: Update field
      operationId: updateField
      tags:
      - Fields
      parameters:
      - name: fieldName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Field updated
    delete:
      summary: Delete field
      operationId: deleteField
      tags:
      - Fields
      parameters:
      - name: fieldName
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Field deleted
components:
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: X-Encharge-Token
    bearer:
      type: http
      scheme: bearer
