openapi: 3.1.0
info:
  title: Encharge REST Account Events API
  description: 'Encharge is a behavior-based marketing automation platform built for SaaS companies. The REST API exposes the core resources used by integrations: people, fields, segments, tags, event subscriptions (webhooks), and account information. Authentication uses the X-Encharge-Token header. Also documented here: the Ingest API for backend event submission and the Transactional Email API for templated and custom HTML/text email.

    '
  version: 1.0.0
  contact:
    name: Encharge Developer Documentation
    url: https://docs.encharge.io/api-documentation
servers:
- url: https://api.encharge.io/v1
  description: REST API and Transactional Email API
- url: https://ingest.encharge.io/v1
  description: Ingest API for backend event submission
security:
- tokenHeader: []
- bearer: []
tags:
- name: Events
paths:
  /event-subscriptions:
    post:
      summary: Create event subscription (webhook)
      operationId: createEventSubscription
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                eventName:
                  type: string
                url:
                  type: string
                  format: uri
      responses:
        '201':
          description: Subscription created
  /event-subscriptions/{id}:
    delete:
      summary: Delete event subscription
      operationId: deleteEventSubscription
      tags:
      - Events
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Subscription deleted
components:
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: X-Encharge-Token
    bearer:
      type: http
      scheme: bearer
