openapi: 3.1.0
info:
  title: Encharge REST Account People API
  description: 'Encharge is a behavior-based marketing automation platform built for SaaS companies. The REST API exposes the core resources used by integrations: people, fields, segments, tags, event subscriptions (webhooks), and account information. Authentication uses the X-Encharge-Token header. Also documented here: the Ingest API for backend event submission and the Transactional Email API for templated and custom HTML/text email.

    '
  version: 1.0.0
  contact:
    name: Encharge Developer Documentation
    url: https://docs.encharge.io/api-documentation
servers:
- url: https://api.encharge.io/v1
  description: REST API and Transactional Email API
- url: https://ingest.encharge.io/v1
  description: Ingest API for backend event submission
security:
- tokenHeader: []
- bearer: []
tags:
- name: People
paths:
  /people:
    get:
      summary: List people
      operationId: listPeople
      tags:
      - People
      parameters:
      - name: email
        in: query
        schema:
          type: string
      - name: userId
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      - name: offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: People
    post:
      summary: Create or update person
      operationId: upsertPerson
      tags:
      - People
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                firstName:
                  type: string
                lastName:
                  type: string
                userId:
                  type: string
      responses:
        '200':
          description: Person created or updated
    delete:
      summary: Archive person
      operationId: archivePerson
      tags:
      - People
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
      responses:
        '204':
          description: Archived
  /people/unsubscribe:
    post:
      summary: Unsubscribe a person
      operationId: unsubscribePerson
      tags:
      - People
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
      responses:
        '200':
          description: Unsubscribed
components:
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: X-Encharge-Token
    bearer:
      type: http
      scheme: bearer
